@import "style.css";

/* ANIMATIONS */
@keyframes rainbow-text-simple-animation-rev {
	0% {
		background-size: 650%;
	}
	40% {
		background-size: 650%;
	}
	100% {
		background-size: 100%;
	}
}

@keyframes rainbow-text-simple-animation {
	0% {
		background-size: 100%;
	}
	80% {
		background-size: 650%;
	}
	100% {
		background-size: 650%;
	}
}

/* HOVER EFFECTS */
a:hover {
	color: var(--hoverLink);
}

.nav-title:hover {
	animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

.citation-links:hover {
	color: var(--textLinksColor);
}

.backCard:hover,
.nextCard:hover {
	background-color: #08aeea1c;
}
