/* GENERAL STYLES */
* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--mainColor: #1d283a;
	--secondaryColor: rgba(47, 65, 94, 0.719);
	--textColor: rgb(5, 5, 5);
	--darkThemeText: #fdfbfb;
	--textLinksColor: #084db4;
	--linksColor: rgb(43, 42, 42);
	--hoverLink: #2a7bf5d0;
	--sideBarTitle: #0066ff;
	--navBorder: rgba(0, 0, 0, 0.199);
	--cardHover: #08aeea1c;
}

@media only screen and (max-width: 700px) {
	body {
		overflow-x: hidden !important;
		max-width: 100%;
	}

	.mobileNavBar {
		display: flex !important;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 5rem;
		position: fixed;
		z-index: 3;
		font-size: 16px;
	}

	.hambuger-menu {
		font-size: 32px;
	}

	.hambuger-menu.clicked {
		transform: rotate(90deg); /* Adjust the rotation angle as needed */
	}

	.mobileMenu {
		position: fixed;
		z-index: 2;
		width: 100%;
		top: 5rem;
		height: 100vh;
		/* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
		background-color: #fdfbfb;
		display: flex;
		flex-direction: column;
		gap: 1em;
		font-size: 20px;
		align-items: left;
		padding-left: 2em;
		padding-top: 1em;
		overflow-x: hidden;
		overflow-y: scroll !important;
	}

	#topic-id {
		list-style-type: square;
	}

	.nav-title {
		padding: 0 !important;
		margin: 0 !important;
		width: 100%;
	}

	.topBar {
		display: none !important;
	}

	.sideBar {
		display: none;
	}

	.mainContent {
		margin: 0 !important;
		width: 100% !important;
		max-height: fit-content;
		padding: 0 0.75em !important;
	}

	.cardContainer {
		/* width: 100% !important; */
		padding: 0 0 1em 0 !important;
		gap: 0.25em !important;
	}
	#backCard #nextCard {
		width: 100%;
	}

	.backCard {
		height: 130px;
		width: 100% !important;
		text-wrap: wrap !important;
	}

	.backCard h4 .nextCard h4 {
		word-break: break-all;
	}
	.nextCard {
		height: 130px;
		width: 100% !important;
		text-wrap: wrap !important;
	}
}

body {
	position: static;
	background-color: #fdfbfb;
	background-repeat: repeat;
	margin: 1px;
	font-family: "Poppins";
	font-weight: 400;
	color: var(--textColor);
	z-index: 0;
	width: 100%;
	height: 100%;
}

/* DARK THEME */
.dark-theme {
	background-color: black;
	color: var(--darkThemeText);
}

.dark-theme a {
	color: #fff;
}

.dark-theme a.selected {
	color: var(--textLinksColor);
}

.dark-theme #nextCard,
#backCard {
	border: 1px solid #fff;
	border-radius: 15px;
}

.dark-theme .topSearch input {
	border: 1px solid #fff;
	color: #fff;
}

/* TAG STYLES */
ul {
	margin: 0;
	padding: 0.1em 0.75em;
	list-style-type: none;
	line-height: 2em;
	width: fit-content;
}

a {
	text-decoration: none;
	color: var(--linksColor);
	cursor: pointer;
}

.hidden {
	display: none;
}

.selected {
	color: var(--hoverLink);
}

/* NAVBAR */
.topTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.logo {
	display: inherit;
	align-items: center;
	height: 60px;
	cursor: pointer;
}

.nav-title-back {
	position: absolute;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
	filter: blur(35px);
	color: transparent;
	opacity: 0.1;
}

.nav-title {
	cursor: default;
	position: relative;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.topBar {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 6rem;
	width: 100vw;
	padding: 0 1em;
	padding-right: 2em;
	border-bottom: 3px solid var(--navBorder);
	background-color: transparent;
	z-index: 2;
	font-size: 1.25em;
}

.topSearch {
	display: flex;
	align-items: center;
	justify-content: center;
}

.topSearch > input {
	padding: 1.75em;
	padding-left: 3em;
	width: 25em;
	height: 2.25em;
	border: 1px solid var(--linksColor);
	border-radius: 25px;
	background-color: transparent;
	color: black;
	font-size: large;
}

.dark-mode {
	font-size: 1.25em;
	align-self: center;
	cursor: pointer;
}

input:focus {
	background-color: var(--cardHover);
	border: 1px solid var(--hoverLink);
	outline: none;
}

.topLinks {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

/* BLUR EFFECT ON SCROLL */
.blurryTop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	background: transparent;
	backdrop-filter: blur(15px);
	z-index: 1;
}

/* SIDEBAR */
.container {
	margin: 0;
}

.sideBar {
	position: fixed;
	overflow-y: scroll;
	scrollbar-color: #084db4 var(--navBorder);
	scrollbar-width: thin;
	top: 6rem;
	height: calc(100% - 5rem);
	width: 18%;
	padding: 1.5em 1em;
	border-right: 3px solid var(--navBorder);
	font-size: 1.25em;
}

.sideBar > p {
	color: var(--sideBarTitle);
	margin: 0;
	padding: 0.5em 0;
}

/* MAIN CONTENT */
.mainContent {
	position: absolute;
	top: 5rem;
	height: calc(100% - 5rem);
	margin: 0.5% 10% 0.5% 18%;
	padding: 1.5em 0 0 1.5em;
	font-size: 1.5em;
}

#topic-title {
	line-height: 2.5em;
	font-size: 28px;
}

.citation-links {
	text-decoration: none;
	color: var(--textColor);
}

.text-list {
	list-style-type: none;
	margin-left: 1em;
}

/* CARDS */
.cardContainer {
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: 1em;
}

.backCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1.55rem;
	width: 18em;
	height: 8em;
	border: 2px solid var(--textColor);
	border-radius: 25px;
	background-color: transparent;
}

.backCard > h4,
.nextCard > h4 {
	margin: 0;
}

.backCard > p,
.nextCard > p {
	text-align: center;
	margin: 0;
	font-size: 0.7em;
}

.nextCard > span {
	align-self: flex-end;
}

.nextCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1.55rem;
	width: 18em;
	height: 8em;
	border: 2px solid var(--textColor);
	border-radius: 25px;
	background-color: transparent;
}
